.offline{
    background: url(./assets/background_banner.jpg);
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* z-index: 1000; */
}
.offline-content{
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}